# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Directory for the output of your build
dist/
build/

# Coverage directory for testing
coverage/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


#Rest Client
_apitest/

#Provate Docker-Composer file
docker-compose.yml